# ==============================================================================
# LOGISECURE AI - GLOBAL CONFIGURATION ENVIRONMENT VARIABLES
# Instructions: Duplicate this file, rename it to '.env', and fill in the fields.
# NEVER upload the actual '.env' file to GitHub! (Ensure it is in .gitignore)
# ==============================================================================

# 🖥️ BACKEND SETTING (FastAPI / Python)
BACKEND_ENV=development
PORT=8000
SECRET_KEY=CHANGE FOR A RANDOM LONG AND *SAFE* STRING

# 🛰️ TRAFFIC & CLIMA GLOBAL API KEYS
# Sign Up on: https://aisstream.io
AISSTREAM_API_KEY=your_aisstream_api_key

# Sign Up on: https://opensky-network.org
OPENSKY_USERNAME=usr_name_opensky
OPENSKY_PASSWORD=opensky_psswd

# Open-Meteo It does not require an API key for free use, but we have kept the variable in case they upgrade to a corporate plan.
OPENMETEO_API_URL=https://open-meto.com

# 🤖 AI ENGINE SETTINGS (AMD Hardware & Fireworks AI)
# Indicate whether the local machine has AMD ROCm acceleration (True/False)
USE_AMD_ROCM=True
LOCAL_MODEL_PATH=./models/llama-3.1-8b-instruct-Q4_K_M.gguf

# Key for agents querying remote models in Track_III

FIREWORKS_API_KEY=your_fireworks_ai_key_here

# 💾 LOCAL DATA BASE (PostgreSQL + PostGIS for geographic data)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=logisecure_db
DB_USER=postgres
DB_PASSWORD=your_local_postgres_password
